<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tgr-hash</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>tgr-hash</h1>

        <div class="buttons">
            <a href="/games" class="btn">Games</a>
            <a href="/chat" class="btn">Chat</a>
        </div>
    </div>
</body>
</html>